<!DOCTYPE html>
<html>
<head>
    <title>Video Games Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <center>
    <h1>Welcome to the Video Games Inventory Management System</h1>
    <p>Click <a href="{{ url_for('query') }}">here</a> to execute a query.</p>
    <br>
    <br>
    <br>
    <br>
    <h2>CSE 560: Data Models and  Query Language</h2>
    <h3>FINAL PROJECT</h3>
    <h3> Team Members</h3>
    <h3>Jatin Chhabria, Krishnakumar Chavan, James Nguyen</h3>
    </center>
</body>
</html>